APP_HOST=localhost
APP_PORT=8080

DB_URL=r2dbc:postgresql://<host>:<password>@<endpoint>/<database>?preferSimpleQueryExecution=true
PDF_GENERATOR_URL=http://localhost:3001
JWT_SECRET=<your_jwt_secret_minimum_32_chars>
